<div class="formulaire">
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name, label: 'Name of the Cocktail' %>
    <%= f.input :description, label: 'Description (max 500 char)' %>
    <%= f.association :category, collection: Category.all %>
    <%= f.association :glass, collection: Glass.all %>
    <%= f.association :alcoholic, collection: Alcoholic.all %>
    <%= f.input :style, label: 'style' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
