<div class="container">
  <h1>All Cocktails</h1>

  <br>
  <br>
  <div class="d-flex justify-content-around">
      <a class="btn btn-ghost" href="<%= new_cocktail_path %>" role="button">Add  New Cocktail</a>
  </div>
  <br>
  <div class="row justify-content-around">
    <% @cocktails.each do |cocktail| %>
    <a href="<%= cocktail_path(cocktail) %>" role="button" class="col-6 col-md-4 col-ld-3">
        <div class="card">
          <img src="<%= cocktail.photo_url %>" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-text"><%= cocktail.name.capitalize %></h5>
          <p class="card-text"><strong>Category:</strong> <%= cocktail.style.capitalize %></p>
          <p class="card-text">   <strong>Glass:</strong> <%= cocktail.glass.name.capitalize %></p>
          </div>
        </div>
    </a>
    <% end %>
  </div>
  <br>
  
</div>


