<div class="container">
  <%= image_tag "#{@cocktail.photo_url}", :class => "showimage" %>
  <h1><%= @cocktail.name.capitalize %></h1>
  <div class="show-info">
    <div class="show-info-item">
    <p><strong>Category : </strong><%= @cocktail.style.capitalize %>
    </div>
    <div class="show-info-item">
    <p><strong>Glass : </strong><%= @cocktail.glass.name.capitalize %>
    </div>
    <div class="show-info-item">
    <p><strong>Alcoholic type : </strong><%= @cocktail.alcoholic.name.capitalize %>
    </div>
  </div>
  <div class="show-desc">
    <div class="show-desc-item">
      <h4>Description</h4> 
      </br>
      <p><%= @cocktail.description %></p>
    </div>
    <div class="show-desc-item">
      <h4>Ingredients</h4>
      </br>
      <% @cocktail.doses.each do |d| %>
      <p><strong>Ingredient : </strong><%= d.ingredient.name.capitalize %></p>
      <p><strong>Quantity : </strong><%= d.measure %> </p>
      <% end %>
    </div>
  </div>

  <div id="reviews">
      <h4>
        <%= pluralize @cocktail.reviews.size, "review" %>
      </h4>
    <% if @cocktail.reviews.blank? %>
      Be the first to leave a review for <%= @cocktail.name.capitalize %>
      <%= render 'reviews/form' %>
    <% else %>
      <% @cocktail.reviews.each do |review| %>
        <p><%= review.content %></p>
      <% end %>
      <%= render 'reviews/form' %>
    <% end %>
  </div>

  <div class="d-flex justify-content-around">
      <a class="btn btn-ghost bottom" href="<%= cocktails_path %>">All cocktails</a>
  </div>
</div>

