<%= image_tag "#{@cocktail.photo_url}", :class => "showimage" %>
<h1><%= @cocktail.name.capitalize %></h1>
<p><strong>Category : </strong><%= @cocktail.style.capitalize %>
<p><strong>Glass : </strong><%= @cocktail.glass.name.capitalize %>
<p><strong>Alcoholic type : </strong><%= @cocktail.alcoholic.name.capitalize %>
<p><strong>Description : </strong><%= @cocktail.description %>

<h2>Ingredients</h2>
</br>
<% @cocktail.doses.each do |d| %>
<p><%= d.ingredient.name.capitalize %></p>
<p>Quantity : <%= d.measure %> </p>
<% end %>
<h2>
  <%= pluralize @cocktail.reviews.size, "review" %>
</h2>
<div id="reviews">
  <% if @cocktail.reviews.blank? %>
    Be the first to leave a review for <%= @cocktail.name.capitalize %>
    <%= render 'reviews/form' %>
  <% else %>
    <% @cocktail.reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
    <%= render 'reviews/form' %>
  <% end %>
</div>

<div class="d-flex justify-content-around">
    <a class="btn btn-ghost bottom" href="<%= cocktails_path %>">All cocktails</a>
</div>

