<nav class="navbar navbar-expand-xl navbar-light bg-light">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("Logo_Mister-Cocktails_Long.png", alt: '', style: 'height: 60px; width: auto;')%>
  <% end %>
  <div id="navbarSupportedContent" style="display: contents;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= cocktails_path %>">See all cocktail</a>
          <a class="dropdown-item" href="<%= ingredients_path %>">See all ingredients</a>
          <a class="dropdown-item" href="<%= new_cocktail_path %>">Add your cocktail</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="query" placeholder="search" aria-label="Search">
      <button class="btn btn-ghost my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </form>
  </div>
</nav>
