<div class="container">
  <div class="row">
    <% @cocktails_lime.each do |i| %>
      <a href="<%= cocktail_path(i) %>" role="button" class="col-6 col-md-3">
        <div class="card">
          <img src="<%= i.photo_url %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-text"><%= i.name.capitalize %></h5>
            <p class="card-text"><strong>Category:</strong> <%= i.style.capitalize %></p>
            <p class="card-text">   <strong>Glass:</strong> <%= i.glass.name.capitalize %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>

